# Database Configuration
DATABASE_URL="file:./dev.db"

# Next Auth Configuration
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="sua-chave-secreta-aqui"

# Admin Credentials (Initial setup)
ADMIN_EMAIL="admin@exemplo.com"
ADMIN_PASSWORD="senha-segura-aqui"
