# dependencies
/node_modules
/.pnp
.pnp.*

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
Thumbs.db
desktop.ini

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# prisma
/prisma/*.db
/prisma/*.db-journal
/src/generated/prisma
node_modules/.prisma

# uploads (important to keep repo clean)
/public/uploads/*
!/public/uploads/.gitkeep

# misc
.DS_Store
*.pem
Thumbs.db
desktop.ini
.antigravity*
.gemini*
*.md.tmp
